{
    "global": {
        "interval": 300,
        "backend": "influxdb"
    },

    "netatmo": {
        "client_id": "NETATMO_CLIENT_ID",
        "client_secret": "NETATMO_CLIENT_SECRET",
        "username": "NETATMO_USERNAME",
        "password": "NETATMO_PASSWORD",
        "area": [NORTH_EAST_LATITUDE, NORTH_EAST_LONGITUDE, SOUTH_WEST_LATITUDE, SOUTH_WEST_LONGITUDE]
    },

    "influxdb": {
        "host": "localhost",
        "port": "8086",
        "user": "weather",
        "password": "INFLUXDB_PASSWORD",
        "database": "weather"
    }
}
